.footer-section {
 padding-top: 96px;
 padding-bottom: 96px;
 background-color: #5f4f49;
 color: white;
}
.footer-content{
 display: grid;
 grid-template-areas: "contacts newsletter" "legal legal";
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
 gap: 80px;
}
.contacts {
 display: flex;
 flex-direction: column;
 gap: 16px;
 padding: 0;
}
.item {
 display: flex;
 gap: 8px;
}
.caption {
 text-transform: uppercase;
 font-weight: 500;
 font-size: 14px;
 line-height: 20px;
 margin-bottom: 16px;
}
.email-box {
 position: relative;
 margin-top: 16px;
}
.email-box .btn {
 position: absolute;
 top: 8px;
 right: 8px;
}
.btn {
 font-weight: 500;
 font-size: 16px;
 line-height: 20px;
 color: #fdfcfc;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 padding: 6px 10px;
 gap: 10px;
 width: 70px;
 height: 32px;
 background: #5f4f49;
 border-radius: 4px;
}
.input {
 border: 1px solid var(--clr-brown);
 border-radius: 8px;
 padding: 16px;
 width: 100%;
}
.input::placeholder {
 font-family: "Montserrat";
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
 color: #353231;
}
.legal{grid-area: legal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;} 

.footer-text {
 font-weight: 300;
 font-size: 14px;
 line-height: 20px;
 color: #fdfcfc;
 margin-bottom: 8px;
}
