.header {
 background-color: #5f4f4999;
 color: white;
 position: fixed;
 top: 0;
 z-index: 999;
 width: 100%;
 backdrop-filter: blur(5px);
display: flex;
justify-content: center;
}
.header .container {
 display: flex;
 align-items: center;
justify-content: space-between;
}
.logo {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 120px;
}
.header-nav {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 gap: 40px;
}
.nav {
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #FDFCFC;
}
.nav:hover {
color: var(--accent-color);
}
.header-connect{
  margin-right: 120px;
  display: flex;
  gap: 16px;
}
.header-icons {
  fill: currentColor;
}
